<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<%= form_for @order do |f| %>
    <%= render 'shared/order_error_messages' %>
    <%= f.fields_for :pizza_orders do |pi_order| %>
        <%= render partial: 'pizza_order_fields', locals: {f: pi_order} %>
    <% end%>
    <div class="add-field">
      <%= link_to_add_association 'Add Pizza', f, :pizza_orders, id: "add_btn", class: "btn btn-primary" %>
    </div>
    <br/>
    <label>Total</label>
    <input id='order_total' class="number_field" disabled value="0.00"/>
    <br/>
    <%= f.submit "Add To Cart", class: "btn btn-primary "%>
<% end %>

