<body class="show-special-page">
  <% provide(:title, "Register") %>
  <h1 class="header-msg">Special Pizza</h1>
  <div class="row show-special-area">
    <div class="col-md-6 col-md-offset-3 form-area">
      <p>
        <strong>Name:</strong>
        <%= @special.pizza.name %>
      </p>

      <p>
        <strong>Crust:</strong>
        <%= @special.pizza.crust.name %>
      </p>

      <p>
        <strong>Toppings:</strong>
        <% @special.pizza.toppings.each do |topping| %>
          <%= topping.name %>
            <% if topping != @special.pizza.toppings.last %>
            ,
            <% end %>
        <% end %>
      </p>

      <p>
        <strong>Cost:</strong>
        <%= @special.cost %>
      </p>

      <p>
        <strong>Pizza Path:</strong>
        <%= @special.pizza_path %>
      </p>

      <p>
        <strong>Enabled:</strong>
        <%= @special.enabled %>
      </p>

      <%= link_to 'Edit', edit_special_path(@special) %> |
      <%= link_to 'Back', specials_path %>

    </div>
  </div>
</body>
