<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "JustPizza", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="bottom" title="Go to the Homepage"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_order_path do %>
            <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" data-placement="bottom" title="Order Some Pizzas"></span>
          <% end %>
        </li>
        <% if not logged_in? %>
            <li>
              <%= link_to new_user_path do %>
                <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="Make An Account"></span>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" data-placement="bottom" title="Login"></span>
              <% end %>
            </li>
        <% else %>
            <li>
              <%= link_to orders_path do %>
                <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="bottom" title="See Your Old Orders"></span>
              <% end %>
            </li>
            <li>
              <%= link_to cart_path do %>
                <span class="glyphicon glyphicon-credit-card" data-toggle="tooltip" data-placement="bottom" title="See Your Current Order"></span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Your Account"></span>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out" data-toggle="tooltip" data-placement="bottom" title="Logout"></span>
              <% end %>
            </li>
        <% end %>
        <% if logged_in? and is_admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <span class="glyphicon glyphicon-king" data-toggle="tooltip" data-placement="bottom" title="Admin Tools"></span><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="admin-nav"><%= link_to "Toppings", toppings_path %></li>
                <li class="admin-nav"><%= link_to "Specials", specials_path %></li>
                <li class="admin-nav"><%= link_to "Crusts", crusts_path %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
