<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "JustPizza", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home" data-placement="bottom" data-toggle="tooltip" title="Go to the Homepage"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_order_path do %>
          <span class="glyphicon glyphicon-shopping-cart" data-placement="bottom" data-toggle="tooltip" title="Order Some Pizzas"></span>
          <% end %>
        </li>
        <% if not logged_in? %>
        <li>
          <%= link_to new_user_path do %>
          <span class="glyphicon glyphicon-user" data-placement="bottom" data-toggle="tooltip" title="Make An Account"></span>
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
          <span class="glyphicon glyphicon-log-in" data-placement="bottom" data-toggle="tooltip" title="Login"></span>
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to orders_path do %>
          <span class="glyphicon glyphicon-list-alt" data-placement="bottom" data-toggle="tooltip" title="See Your Old Orders"></span>
          <% end %>
        </li>
        <li>
          <%= link_to cart_path do %>
          <span class="glyphicon glyphicon-credit-card" data-placement="bottom" data-toggle="tooltip" title="See Your Current Order"></span>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
          <span class="glyphicon glyphicon-edit" data-placement="bottom" data-toggle="tooltip" title="Edit Your Account"></span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out" data-placement="bottom" data-toggle="tooltip" title="Logout"></span>
          <% end %>
        </li>
        <% end %>
        <% if logged_in? and is_admin? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-king" data-placement="bottom" data-toggle="tooltip" title="Admin Tools"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="admin-nav"><%= link_to "Toppings", toppings_path %></li>
            <li class="admin-nav"><%= link_to "Specials", specials_path %></li>
            <li class="admin-nav"><%= link_to "Crusts", crusts_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
